@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$font: 'Roboto', sans-serif;
$background-color: #333333;
$team-card-winner-color: #fefefe;
$grey-color: #cacaca;
$primary-color: rgb(255, 0, 0);
$primary-dark-color: rgb(214, 0, 0);
$secondary-color: #b31b1b;
$secondary-dark-color: #810606;
$disabled-button-color: #919191;
$team-card-winner-color: #5e5d5d;
$team-card-loser-color: #414141;
$group-background-color: #5e5d5d;
$fixtures-background-color: #5e5d5d;
$advancing-teams-background-color: #414141;

html,
body {
    margin: 0;
    padding: 0;
    font-family: $font;
    background-color: $background-color;
}

#navbar {
    position: fixed;
    background-color: rgb(19, 19, 19);
    // width: 100%;
    padding: 20px 5% 13px 0;
    top: 0;
    transform: skew(-45deg);
    z-index: 100;

    @media only screen and (min-width: 650px) and (max-width: 780px) {
        padding: 20px 6% 13px 4%;
    }
    
    @media only screen and (min-width: 781px) {
        padding: 20px 7% 13px 21%;
    }
}

#navbar {
    button {
        font-size: 1em;
        padding: .3em 1em;
        transform: skew(45deg);
    }
}

#navbar-line {
    height: 30px;
    width: 100%;
    background-color: rgb(19, 19, 19);
    position: fixed;
    top: 0;
    z-index: 99;
    box-shadow: 2px 2px 2px rgba(0,0,0, 0.4);
}

#match-counter {
    width: 95%;
    position: fixed;
    top: 30px;
    left: 0;
    text-align: right;
    transform: skewX(-45deg);
    background-color: white;
    padding: 2px 0;
    text-transform: uppercase;
    font-weight: lighter;
    z-index: 97;

    @media only screen and (min-width: 650px) and (max-width: 780px) {
        width: 93%;
    }
    
    @media only screen and (min-width: 781px) {
        width: 70%;
    }
}

.skew-revert {
    transform: skewX(45deg);
    padding-right: 20px;
}

#group-stage-wrapper {
    margin-top: 70px;

    @media only screen and (min-width: 650px) and (max-width: 780px) {
        padding: 0 5%;
    }
    
    @media only screen and (min-width: 781px) {
        padding: 0 20%;
    }
}

.group {
    margin: 10px;
    background-color: $group-background-color;
    box-shadow: 1px 1px 2px rgba(0,0,0, 0.4);
}

.group-header {
    background-color: $primary-color;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#play-button,
#proceed-to-elimination-button,
#pause-button {
    overflow: hidden;
    position: relative;
    
    span {
        z-index: 20;
    }
    
    &:after {
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .5;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: 10;
    }
}
  
#play-button:hover:enabled,
#proceed-to-elimination-button:hover:enabled,
#pause-button:hover:enabled {

    background-color: $primary-dark-color;

    &:after {
        left: 120%;
        transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
    }
}

.team-row {
    position: relative;
    overflow: hidden;

    font-weight: lighter;
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
            "name played won drawn lost goals-for goals-against goal-diff points";

    &::before {
        --size: 0;
        content: '';
        position: absolute;
        left: var(--x);
        top: var(--y);
        width: var(--size);
        height: var(--size);
        background: radial-gradient(circle closest-side, #fff, transparent);
        transform: translate(-50%, -50%);
        transition: width .2s ease, height .2s ease;
    }
    
    &:hover::before {
        --size: 400px;
    }
}

.team-row:hover {
    background-color: $disabled-button-color;
    color: black;
}
  
.table-header {
    text-align: center;
    font-weight: lighter;
    padding: 3px 0;
}

.group-title {
    font-weight: bold;
    padding: 3px 10px;
}

.team-name {
    grid-area: name;
    padding-left: 10px;
    font-weight: normal;
    position: relative;
}

.group-header {
    margin-bottom: 6px;
}

.team-row > div {
    padding-top: 3px;
    padding-bottom: 3px;
}

.team-played-number {
    grid-area: played;
    text-align: center;
}

.team-won-number {
    grid-area: won;
    text-align: center;
}

.team-drawn-number {
    grid-area: drawn;
    text-align: center;
}

.team-lost-number {
    grid-area: lost;
    text-align: center;
}

.team-goals-for-number {
    grid-area: goals-for;
    text-align: center;
}

.team-goals-against-number {
    grid-area: goals-against;
    text-align: center;
}

.team-goal-difference-number {
    grid-area: goal-diff;
    text-align: center;
}

.team-points-number {
    grid-area: points;
    text-align: center;
}
  
button {
    padding: 6px 9px;
    font-family: $font;
    font-weight: bold;
    border: none;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0, 0.4);
    outline: none;
    border-radius: 1px;
    cursor: pointer;
    background-color: $primary-color;
}

button:disabled {
    background-color: $disabled-button-color;
}

.match {
    padding: 6px 0;
    background-color: $fixtures-background-color;
    color: white;
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 5fr;
    border-bottom: 2px solid #777;
}

.match-finished {
    background-color: $advancing-teams-background-color;
}

.home-team {
    text-align: end;
}

.dash {
    text-align: center;
}

.score-home {
    text-align: end;
}

.fixtures-wrapper {
    background-color: $fixtures-background-color;
}

.advance-teams .team-name {
    font-weight: bold;
}

.advance-teams > div {
    background-color: $advancing-teams-background-color;
}

.bold {
    font-weight: 700;
}

.normal-font {
    font-weight: normal;
}

.fixture-button {
    background-color: $secondary-color;
}

.fixture-button:hover {
    background-color: $secondary-dark-color;
}

.advance-teams > div.group-line {
    width: 100%;
    background-color: #777;
    height: 2px;
}

.group-line {
    width: 100%;
    background-color: #777;
    height: 2px;
}

// ELIMINATION FROM HERE

#table-wrapper {
    margin-top: 80px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.stage {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pair-card {
    margin-bottom: 5px;
    background-color: $background-color;
    padding: 2px 5px;
}

.team-card {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 6px 10px;
    background-color: $team-card-loser-color;
    margin-bottom: 3px;
    box-shadow: 2px 1px 3px rgba(0,0,0, 0.4);
}

.score {
    padding: 2px 6px;
    border-radius: 2px;
    background: $secondary-dark-color;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.2);
    box-shadow: inset 1px 1px 1px rgba(0,0,0, 0.4);
}

.winner {
    font-weight: bold;
    background-color: $team-card-winner-color;
}
  
.winner .score {
    background-color: $primary-color;
}

// MODAL

.modal {
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    // overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}